<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Product</th>
    <th>Cost</th>
    <th>Discount</th>
    <th>Total cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.id %></td>
    <td><%= purchase.product_id %></td>
    <td><%= purchase.cost %></td>
    <td><%= purchase.discount %></td>
    <td><%= purchase.total_cost %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
